<%# form_for @workout_type do |f| %>
<%= form_tag :action => "multi_create", :remote => true do %>
  <%# f.error_messages %>
  <ul>
  <% @errors.each do |error| %>
     <%= error %>
  <% end %>
  <%# for wrkout in @workout_types %>
    <li>
      1) <%= select @wt1, 'workout_type1', WorkoutType.getWrkNames, {:include_blank => true} %>
    </li>
    <li>
      2) <%= select @wt2, 'workout_type2', WorkoutType.getWrkNames, {:include_blank => true} %>
    </li>
     <li>
      3) <%= select @wt3, 'workout_type3', WorkoutType.getWrkNames, {:include_blank => true} %>
    </li>

   <%# end %>
   </ul>
  <p><%= submit_tag %></p>
  
<% end %>
