<% title "Week" %>

<p>
  <strong>User:</strong>
  <%= @week.user_id %>
</p>
<p>
  <strong>Monday:</strong>
  <%= @week.monday %>
</p>
<p>
  <strong>Tuesday:</strong>
  <%= @week.tuesday %>
</p>
<p>
  <strong>Wednesday:</strong>
  <%= @week.wednesday %>
</p>
<p>
  <strong>Thursday:</strong>
  <%= @week.thursday %>
</p>
<p>
  <strong>Friday:</strong>
  <%= @week.friday %>
</p>
<p>
  <strong>Saturday:</strong>
  <%= @week.saturday %>
</p>
<p>
  <strong>Sunday:</strong>
  <%= @week.sunday %>
</p>

<p>
  <%= link_to "Edit", edit_week_path(@week) %> |
  <%= link_to "Destroy", @week, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", weeks_path %>
</p>
