<!-- Probably move the stylesheet to you layout. Also make sure you include the javascript. -->
<%= stylesheet_link_tag "event_calendar" %>
<%= stylesheet_link_tag 'day_index' %>
<%= javascript_include_tag :event_calendar %>

<div id="sideModules">
  <%= link_to(image_tag('new_day_button.png'), new_day_path) %>
  <div id="notifications" style="height: 200px;">
    <h3>Workout Details:</h3>
<!-- Create hidden divs with meeting locations, which will be highlighted on hover -->
<% for day in @days %>
  <div style = "background-color:#ffffff; height: 150px; width: 150px; margin-left: 6px; top: 300px; position: absolute;
opacity: 0.6; filter:alpha(opacity=60);visibility:hidden; padding:3px;border:1px solid gray; text-align:center; font-size:12px; color:#6e6e6e;" id = "<%=day.id%>">
    <span style = "font-weight:bold; color:#16a8cc;"><%= day.name%></span><br /><br />
    Duration: <%= day.duration %> min<br />
    Date: <%= Day.format_date(day.date) %><br />
    <% counter = 0 %>
    <% for ex in day.exercises %><br />
    <% if counter == 2 %>
    <% break %>
    <% end %>
    <% counter += 1 %>
    <span style = "font-weight:bold;">Exercise: <%= ex.name %></span><br />
    Muscle: <%= ex.muscle %><br />
    Reps: <%= ex.reps %><br />
    <% end %>
  </div>
<% end %>

  </div><!-- end meeting details -->
</div><!-- end sideModules -->

<div id = "mainModule">
  <%= image_tag 'my_days_title.png' %>
  <div id="view">
    <%= link_to "List", days_path %>
  </div>

  <%= raw(event_calendar) %>

</div>
<div style = "clear:both;"></div>

