<% title "Excersises" %>

<table>
  <tr>
    <th>Day</th>
    <th>Muscle</th>
    <th>Repitions</th>
    <th>Duration</th>
  </tr>
  <% for excersise in @excersises %>
    <tr>
      <td><%= excersise.day_id %></td>
      <td><%= excersise.muscle %></td>
      <td><%= excersise.repitions %></td>
      <td><%= excersise.duration %></td>
      <td><%= link_to "Show", excersise %></td>
      <td><%= link_to "Edit", edit_excersise_path(excersise) %></td>
      <td><%= link_to "Destroy", excersise, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Excersise", new_excersise_path %></p>
