<% title "Excersise" %>

<p>
  <strong>Day:</strong>
  <%= @excersise.day_id %>
</p>
<p>
  <strong>Muscle:</strong>
  <%= @excersise.muscle %>
</p>
<p>
  <strong>Repitions:</strong>
  <%= @excersise.repitions %>
</p>
<p>
  <strong>Duration:</strong>
  <%= @excersise.duration %>
</p>

<p>
  <%= link_to "Edit", edit_excersise_path(@excersise) %> |
  <%= link_to "Destroy", @excersise, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", excersises_path %>
</p>
