<%= form_for @day do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :plan_id %><br />
    <%= f.number_field :plan_id %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.label :duration %><br />
    <%= f.text_field :duration %>
  </p>
  <p>
    <%= f.label :complete %><br />
    <%= f.check_box :complete %>
  </p>
  <p><%= f.submit %></p>
<% end %>
