<%= stylesheet_link_tag 'day_index' %>
<%= javascript_include_tag 'hover' %>

<style type = "text/css">
 .workout2 {
  width:264px;
  height:60px;
  margin-top: -20px;
  } 
</style>
<div id="sideModules">
  <%= link_to(image_tag('workout1.png'), :browse) %>
  <div id="notifications">
    <h3>Notifications:</h3>
    <!-- Show all pending invites -->
      <% if @notification != nil %>
      <p><%= link_to "#{@notification.name}", @notification %></p>
      <p><%= Day.format_date(@notification.date) %></p>
	  <br />
       <% else %>
       <p>No workouts planned for today</p>
       <% end %>
  </div><!-- end notifications -->
</div><!-- end sideModules -->

<div id="mainModule">
  <%= image_tag 'workout2.png', :class => "workout2" %>
  <div id="view">
    <%= link_to "Calendar", calendar_path %>
  </div><!-- end view -->
  <div id="tablerow">
    <h3><%= current_user.first_name + "'s Upcoming Workouts:" %></h3>
  </div><!-- end tablerow -->
  <div id="listBox">
    <table>
      <!-- List of all confirmed day invites -->
      <% for day in @mydays %>
        <tr onclick="location.href='days/<%= day.id %>'" class = "day_list">
          <td class="dayName"><%= day.name %></td>
  	  <td class="dayDate"><%= day.duration %> min</td>
          <td class="dayTime"><%= day.format_date(day.date) %></td>
        </tr>
      <% end %>
    </table>
  </div><!-- end listBox -->
<p><%= will_paginate @mydays, :previous_label => "&nbsp;Previous&nbsp;", :next_label => "&nbsp;Next&nbsp;" %></p>
</div><!-- end mainModule -->

<div style = "clear:both;"></div>
