<% title "Days" %>

<table>
  <tr>
    <th>Plan</th>
    <th>Date</th>
    <th>Duration</th>
    <th>Complete</th>
  </tr>
  <% for day in @days %>
    <tr>
      <td><%= day.plan_id %></td>
      <td><%= day.date %></td>
      <td><%= day.duration %></td>
      <td><%= day.complete %></td>
      <td><%= link_to "Show", day %></td>
      <td><%= link_to "Edit", edit_day_path(day) %></td>
      <td><%= link_to "Destroy", day, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Day", new_day_path %></p>
