<style type = "text/css">
  .workout_image {
    height: 200px;
    width: 200px;
    border: 1px solid gray;
  }
</style>
<% title "Day" %>

<p>
  <strong>Date:</strong>
  <%= Day.format_date(@day.date) %>
</p>
<p>
  <strong>Duration:</strong>
  <%= @day.duration %> minutes
</p>
<p>
  <strong>Complete:</strong>
  <%= @day.complete %>
</p>
<br />
<div>Excersises:
<% for excersise in @excersises %>
  <p>Muscle:<%= excersise.muscle %></p>
  <p>Name:<%= excersise.name %></p>
  <p>Reps:<%= excersise.reps %></p>
  <p>Duration: <%= excersise.duration %> minutes</p>
  <p><%= link_to image_tag("#{excersise.name}.jpg", :class => "workout_image")%></p>
<% end %>
</div>
<p>
  <%= link_to "Edit", edit_day_path(@day) %> |
  <%= link_to "Destroy", @day, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", days_path %>
</p>
