<%= form_for @exercise do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :muscle %><br />
    <%= f.text_field :muscle %>
  </p>
  <p>
    <%= f.label :duration %><br />
    <%= f.text_field :duration %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :reps %><br />
    <%= f.text_field :reps %>
  </p>
  <p>
    <%= f.label :day_id %><br />
    <%= f.number_field :day_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
