<% title "@{Exercise.name}" %>

<table>
  <tr>
    <th>Muscle</th>
    <th>Duration</th>
    <th>Name</th>
    <th>Reps</th>
    <th>Day</th>
  </tr>
  <% for exercise in @exercises %>
    <tr>
      <td><%= exercise.muscle %></td>
      <td><%= exercise.duration %></td>
      <td><%= exercise.name %></td>
      <td><%= exercise.reps %></td>
      <td><%= exercise.day_id %></td>
      <td><%= link_to "Show", exercise %></td>
      <td><%= link_to "Edit", edit_exercise_path(exercise) %></td>
      <td><%= link_to "Destroy", exercise, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Exercise", new_exercise_path %></p>
