<%= stylesheet_link_tag 'search_results' %>
<%= javascript_include_tag 'hover' %>

<div id="mainModule">
  <div id="tablerow">
    <h3><%= "Search Results:" %></h3>
  </div><!-- end tablerow -->
  <div id="listBox">
    <table>
      <!-- List of all confirmed day invites -->
      <% for exercise in @exercises %>
        <tr onclick="location.href='description/?name=<%= exercise.name %>'" class = "day_list">
          <td class="dayName"><%= exercise.name %></td>
  	  <td class="dayDate"><%= exercise.muscle %></td>
        </tr>
      <% end %>
    </table>
  </div><!-- end listBox -->
<p><%= will_paginate @exercises, :previous_label => "&nbsp;Previous&nbsp;", :next_label => "&nbsp;Next&nbsp;" %></p>
</div><!-- end mainModule -->

<div style = "clear:both;"></div>
