<%= form_for @plan do |f| %>
  <%= f.error_messages %>
  <p style = "font-weight:bold; color:black; width:250px;">Please enter in the start date and end date of your workout.<br />
  <br />Also indicate if you will have gym access during your workout</p>
  <br />
  <p>
    <%= f.label "Gym access available?"%><br />
    <%= f.check_box :gym %>
  </p>
  <p>
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </p>
  <p>
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date %>
  </p>
  <p><%= f.submit %></p>
<% end %>
