<% title "Plans" %>

<table>
  <tr>
    <th>User</th>
    <th>Gym</th>
    <th>Start Date</th>
    <th>End Date</th>
  </tr>
  <% for plan in @plans %>
    <tr>
      <td><%= plan.user_id %></td>
      <td><%= plan.gym %></td>
      <td><%= plan.start_date %></td>
      <td><%= plan.end_date %></td>
      <td><%= link_to "Show", plan %></td>
      <td><%= link_to "Edit", edit_plan_path(plan) %></td>
      <td><%= link_to "Destroy", plan, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Plan", new_plan_path %></p>
