<%= stylesheet_link_tag 'reset', 'login' %>

<div id="wrap">

<div id="top">
  <%= image_tag 'logo_login.png' %>
  <p>Sign In</p>
</div><!-- end title -->

<div id="loginBox">
<%= form_tag sessions_path do %>

  <p class="label">
    <%= label_tag :login, "Username" %><br />
    <%= text_field_tag :login, params[:login], :class => "txtfield" %>
  </p>
  <p class="label">
    <%= label_tag :password %><br />
    <%= password_field_tag :password, nil, :class => "txtfield" %>
  </p>
  <p id="signup">Don't have an account? <%= link_to "Sign up!", signup_path, :class => "link" %></p>
  <p id ="signup" style = "margin-top: -1px;">Forgot your password? <%= link_to "Reset Password", :password_reset, :class => "link" %></p>
  <p><%= submit_tag "Sign In", :class => "button" %></p>
<% end %>
</div><!-- end loginBox -->

</div><!-- end wrap -->
