<div id="nav">
  <ul>
	<li><%= link_to 'about', about_path %></li>
	<li><%= link_to 'calendar', calendar_path %></li>
	<li><%= link_to 'profile', :edit_current_user %></a></li>
	<li><%= link_to 'sign out', logout_path %></li>
	
	<li>
       <div class = "searchbox">
      <%= form_tag :search, :method => 'get' do %>
        <p>
          <%= text_field_tag :search, params[:search], :class => "searchfield" %>
          <%= image_submit_tag "search_icon.png", :name => nil, :class => "searchicon" %>
        </p>
      <% end %>

           </div><!-- end searchbox -->
	</li>
  </ul>
</div><!-- end of nav div -->
